body{
    font-family:Arial, Helvetica, sans-serif;
}
:root{
    --main-color:#fd4646 ;
    --text-color:#171427 ;
    --bg-color: #fff;
}
.image--qc{
    position: fixed;
    margin-top: -150px;
    z-index: 99;
}
.navbar--logo{
    width: 100%;
    height: 65px;
    background-color: #f50000;
    position: fixed;
    top: 0;
    margin-top: 56px;
    display: flex;
    z-index: 100;
}
.khung--search{
    margin-top: 10px;
    margin-left: 50px;
    display: flex;
}
.input--timsanpham{
    width: 300px;
    height: 39px;
    border:2px solid rgba(255, 255, 255, 0);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: -10px;
}
.btn--search{
    float: left;
    width: 80px;
    height: 46px;
    background: #484848;
    color: white;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 20px;
}

.giohang{
    display: flex;
}
#giohang--logo{
    margin-top: 8px;
    margin-left: 50px;
    font-size:48px;
    color: white;
}
.giohang--title{
    color: #f1f1f1;
    margin-top: 25px;
    margin-left: 10px;
}
.sdt--muahang{
    margin-top: 10px;
    margin-left: 50px;
    color: #f1f1f1;
    width: fit-content;
}
.btn--login{
    width: 100px;
    margin-top: 15px;
    margin-left: 50px;
}

.navbar--menu{
    width: 100%;
    height: 40px;
    background-color: rgb(212, 211, 211);
    top: 0;
    margin-top: 121.5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,auto));
    gap: 1rem;
}
.product-box{
    box-shadow: 0 1px 4px rgba(26, 24, 24, 0.2);
    padding: 30px;
    position: relative;
    z-index: 1;
}
.product-box:hover{
    padding-top: 20px;
    box-shadow: 0 2px 6px rgba(20, 19, 19, 0.5);
    transition: 0.4s ease-in-out;
}
.price{
    color: var(--main-color);
}
.img-products{
    min-width: 200px;
    max-width: 220px;
}
.product-title{
    font-size: medium;
}
.title-product{
    display: flex;
    justify-content: space-between;
    padding:1.5rem 1rem;
}
.tablet{
    margin-top: 150px;
}
.khung--footer{
    display: flex;
    width: 100%;
}
.khung--footer--left{
    width: 25%;
}
.khung--footer--center--left{
    width: 25%;
}
.khung--footer--center--right{
    width: 25%;
}
.khung--footer--right{
    width: 25%;
}
#menu-button{
    display: none;
}